/* Generic */
.threadHeader,
.threadHeader__profile,
.threadFooter,
.threadFooter__impression,
.threadFooter__impression > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.threadHeader {
  margin-bottom: 16px;
}
.threadHeader__profile {
  gap: 0 8px;
}

/* Thread List */
.threadListHeader {
  max-width: 600px;
  margin: 0 auto 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Thread Item */
.threadItem {
  max-width: 600px;
  margin: 0 auto 24px;
}

.threadItemFooter {
  margin-top: 8px;
}
.threadItemFooter__impression {
  gap: 0 16px;
}
.threadItemFooter__impression > * {
  gap: 0 4px;
}

.truncateText {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Thread Detail */
.threadDetail {
  max-width: 600px;
  margin: 64px auto 0;
}

.threadDetailFooter {
  margin-top: 12px;
}
.threadDetailFooter__impression {
  gap: 0 16px;
  margin-left: -8px;
}

/* Thread Form */
.threadForm {
  padding: 0 24px 24px;
}
.threadForm__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
